/*pino tuzzolino*/
/*css da custoizzare a piacere*/

.email-confirmation-container {
    background: #f7f9fc;
}

.email-confirmation-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.login-container {
    background: #f7f9fc;
}

.login-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

    .login-box h4 {
        font-weight: 600;
        color: #333;
    }

.reset-container {
    background: #f7f9fc;
}

.reset-box {
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

    .reset-box h4 {
        font-weight: 600;
        color: #333;
    }

/* end login registrazione e change password*/

footer {
    background-color: #245397;
    color: white;
    border-top: 1px solid #fba341;
}

.navbar-custom {
    background-color: #245397 !important;
    border-bottom: 1px solid #fba341;
}

    .navbar-custom a:hover {
        color: #c1daff;
    }

.navbar {
    padding: 15px 10px;
    background: #fff;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.sidebarli {
    border-bottom: 1px solid #efefef;
}

#sidebar {
    border-right: 1px solid #393e42;
}

    #sidebar .sidebar-header {
        border-bottom: 1px solid #393e42;
    }


    #sidebar ul li a {
        border-top: 1px solid #FAFAFA;
        border-bottom: 1px solid #FAFAFA;
    }

        #sidebar ul li a:hover {
            color:black;
            background: #eee;
            border-top: 1px solid #cacaca;
            border-bottom: 1px solid #cacaca;
        }


/* end nav e sidebar */

.tab-content {
    border-top: 5px solid;
}

.tab-content {
    background: #fdfdfd;
    border: 1px solid #ddd;
    border-top-color: #082c45;
}

/*--------------------------------------------------------*/


.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: white;
    background-color: #245397;
}

.nav-pills .nav-link {
    color: #082c45;
    border-top: 1px solid #adb5bd;
    border-left: 1px solid #adb5bd;
    border-right: 1px solid #adb5bd;
}

/*--------------------------------------------------------*/



.nav-link {
    color: white;
}

    .nav-link:hover {
        color: rgba(0, 0, 0, 0.1);
    }

    .nav-link:active {
        color: white !important;
    }

    .nav-link:focus {
        color: white;
    }



/* Hover sul pulsante */
.custom-file-input:hover ~ .custom-file-label::after,
.custom-file-label:hover::after {
    background-color: #0056b3;
    border-left-color: #004085;
}

/* Focus input file: evidenzia bordo */
.custom-file-input:focus ~ .custom-file-label {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}
