@using Microsoft.Extensions.Configuration
@inject ISediinCoreConfiguration Configuration

@{
    RagioneSociale ragioneSociale = Configuration.Get().Result.RagioneSociale;
}

<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ragioneSociale.Nome
    </title>

    <script type="importmap"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/validation.css" rel="stylesheet" />
    <link href="~/css/modale.css" rel="stylesheet" />

</head>

<body>
    <header class="blurEffect">
        <nav class="navbar navbar-expand-lg navbar-custom shadow">

            <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSediinWebUi" aria-controls="navbarSediinWebUi"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSediinWebUi">

                <ul class="navbar-nav mr-auto">


                    <li>
                        <a class="nav-link" href="https://www.sediin.it" target="_blank">
                            <i class="fas fa-home marginMenuIcon"></i>
                            Sito @ragioneSociale.Nome
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

    </header>


    <main class="d-flex align-items-center blurEffect">
        <div class="container mt-3 mb-3">
            @RenderBody()
        </div>
    </main>
    <script>
        (function() {
          // Aggiunge subito le classi agli input text e textarea dentro form-group
          var inputs = document.querySelectorAll("form .form-group input[type='password'],input[type='text'], form .form-group textarea");
          for (var i = 0; i < inputs.length; i++) {
            var el = inputs[i];
            if (!el.classList.contains("form-control")) el.classList.add("form-control");
            if (!el.classList.contains("col-md-12")) el.classList.add("col-md-12");
          }
        })();
    </script>


    <footer class="container-fluid blurEffect">
        <span>
            @ragioneSociale.Nome
        </span>
        <span>
            &copy; Sediin Spa
        </span>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/globalize/globalize.js"></script>
    <script src="~/js/globalize/cultures/globalize.cultures.js"></script>
    <script src="~/js/globalize/cultures/globalize.culture.it-IT.js"></script>
    <script src="~/js/validator.methods.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/inputs.js"></script>
    <script src="~/js/customvalidator.js"></script>
    <script src="~/js/modale.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

