@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
       @Configuration.GetSection("ApplicationSettings")["ApplicationName"]?.ToString()
    </title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/validation.css" rel="stylesheet" />
    <link href="~/css/modale.css" rel="stylesheet" />
</head>

<body>
    <header class="blurEffect">
        <nav class="navbar navbar-expand-lg navbar-custom shadow">

            <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse"
                    data-bs-target="#navbarSediinWebUi" aria-controls="navbarSediinWebUi"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="navbarSediinWebUi">

                <ul class="navbar-nav mr-auto">


                    <li>
                        <a class="nav-link" href="https://www.sediin.it" target="_blank">
                            <i class="fas fa-home marginMenuIcon"></i>
                            Sito @Configuration.GetSection("ApplicationSettings")["ApplicationName"]?.ToString()
                        </a>
                    </li>

                </ul>

            </div>
        </nav>

    </header>


    <main class="d-flex align-items-center blurEffect">
        <div class="container mt-3 mb-3">
            @RenderBody()
        </div>
    </main>


    <footer class="container-fluid blurEffect">
        <div class="row">
            <div class="col-md-4" style="text-align: left;">
                @Configuration.GetSection("ApplicationSettings")["ApplicationName"]?.ToString()
            </div>
            <div class="col-md-4" style="text-align: center;">&nbsp;</div>
            <div class="col-md-4" style="text-align: right;">&copy; Sediin Spa</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/inputs.js"></script>
    <script src="~/js/customvalidator.js"></script>
    <script src="~/js/modale.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

