
<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>

    </title>

    <script type="importmap"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />

</head>

<body>

    <div class="row">

        <div class="col-md-12">
            <img src="cid:logo_cid" alt="Logo" />
        </div>

        
        <div class="col-md-12" style="padding-top:40px">


            @RenderBody()

        </div>


    </div>




</body>
</html>

