@model Sediin.Core.WebUi.Areas.Administrator.Models.TestMailSettingConfigModel

<ajax-form asp-action="EmailTest"
           asp-controller="Configuration"
           on-begin="alertWaid()"
           on-success="toastSuccess(data); alertClose();"
           on-failure="handleError">

    <div class="form-horizontal row mt-4">
        <div class="col-md-6 form-group">
            @Html.Label("Indirizzo Email")
            @Html.TextBoxFor(model => model.EmailTo)
            @Html.ValidationMessageFor(model => model.EmailTo)
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-info">Invia Email di Test</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideModal()">Chiudi finestra</button>
    </div>

</ajax-form>

@{
    Html.RenderPartial("_ValidationScriptsPartial");
}
