@using Sediin.Core.WebUi.Areas.Administrator.Models;
@model AdministratorModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Details";
}

<h1>Area Administrator Details</h1>

<script>
</script>

