@using Sediin.Core.WebUi.Areas.Administrator.Models;
@model AdministratorModel

@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Index";
}

<h1>Area Administrator</h1>
<a href="@Url.Action("Details", "Administrator", new { Id = @Model.Id })" class="btn btn-info btn-sm text-white" data-toggle="tooltip" data-placement="left" title="Apri" onclick="alertWaid('Un momento prego...');">
    <i class="fa fa-search"></i>
</a>
<a href="javascript:void(0);" onclick="Delete('@Model.Id');" class="btn btn-info btn-sm text-white" data-toggle="tooltip" data-placement="left" title="Delete">
    <i class="fa fa-download"></i>
</a>
<script>


    function Delete(Id)
    {
        debugger
        var url = '@Url.Action("Delete", "Administrator")';
        alert('Un momento prego...');
        Id = 1;

        $.ajax({
            type: "POST",
            url: url,
            data: {
                Id: Id,
            },
            success: function (data) {
                //alertClose();
                if (data.isValid) {
                    alert(data.message);
                }
                else {
                    alert(data.message);
                }
            },
            error: function (data) {
                alert("Errore interno al server");
            }
        });

    }
</script>

