@model Sediin.Core.WebUi.Models.ForgotPasswordViewModel

<ajax-form asp-action="ForgotPassword" asp-controller="Authentication"
           on-begin="alertWaid()"
           on-success="hideModal(); alertSuccess(data)"
           on-failure="handleError">
    
    <div class="form-horizontal row mt-4">
        <div class="form-group col-8">
            @Html.LabelFor(model => model.Email)
                @Html.TextBoxFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
        </div>


    </div>

    <div class="bd-callout bd-callout-info bg-light-gray">
        Inserire l'email di registrazione
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-info">Recupera Password</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="hideModal()">Chiudi la finestra</button>

    </div>

</ajax-form>

@{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}

