@using Microsoft.Extensions.Configuration
@using Sediin.Core.TemplateConfiguration
@using Sediin.Core.TemplateConfiguration.Models
@inject ISediinCoreConfiguration Configuration

@{
    RagioneSociale ragioneSociale = Configuration.Get().Result.RagioneSociale;
}


<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ragioneSociale.Nome
    </title>

    <script type="importmap"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/validation.css" rel="stylesheet" />
    <link href="~/css/modale.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
    <link href="~/css/nav-wizard.css" rel="stylesheet" />
</head>

<body>

    <div class="wrapper blurEffect">

        <nav id="sidebar" class="d-none d-md-block d-lg-block">
            @await Component.InvokeAsync("Menu", new { tipo = "sidemenu" })
        </nav>

        <!-- Page Content -->
        <div id="content" style="margin-top:-30px">
            @await Component.InvokeAsync("Menu", new { tipo = "navmenu" })
            <div id="contentrenderbody" class="ml-1 mt-4 mr-1 pt-2 p-4">
                @RenderBody()

            </div>
            <script>
                (function() {
                  // Aggiunge subito le classi agli input text e textarea dentro form-group
                  var inputs = document.querySelectorAll("form .form-group input[type='password'],input[type='text'], form .form-group textarea");
                  for (var i = 0; i < inputs.length; i++) {
                    var el = inputs[i];
                    if (!el.classList.contains("form-control")) el.classList.add("form-control");
                    if (!el.classList.contains("col-md-12")) el.classList.add("col-md-12");
                  }
                })();
            </script>

        </div>
    </div>

    <footer class="container-fluid blurEffect">
        <span>
            @ragioneSociale.Nome
        </span>
        <span>
            &copy; Sediin Spa
        </span>
    </footer>

    <div id="blockOverlay" style="
    display:none;
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background-color: rgba(0,0,0,0.3); /* sfondo semitrasparente (opzionale) */
    z-index: 9999;
    cursor: wait;"></div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/globalize/globalize.js"></script>
    <script src="~/js/globalize/cultures/globalize.cultures.js"></script>
    <script src="~/js/globalize/cultures/globalize.culture.it-IT.js"></script>
    <script src="~/js/validator.methods.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/inputs.js"></script>
    <script src="~/js/customvalidator.js"></script>
    <script src="~/js/modale.js"></script>
    <script src="~/js/onesidepage.js"></script>
    <script src="~/js/toastr.js"></script>
    <script src="~/js/soundmanager2-jsmin.js"></script>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $('#content').toggleClass('fullwidth');

                if ($('#sidebar').hasClass('active')) {
                    $('#sidebarCollapseText').text('Apri menu');
                } else {
                    $('#sidebarCollapseText').text('Chiudi menu');
                }
            });
        });


        const connection = new signalR.HubConnectionBuilder()
          .withUrl("/notifyhub")
          .build();

        connection.on("BloccaUtente", () => {
          blockPage();
          alertWarning("L'utente è stato bloccato");
          setTimeout(function(){
            location.href = "/Authentication/LogOff";
          }, 3000);

        });

        connection.start().catch(err => console.error(err.toString()));

        function blockPage() {
          document.getElementById("blockOverlay").style.display = "block";
        }

        function unblockPage() {
          document.getElementById("blockOverlay").style.display = "none";
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

