@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration


<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @Configuration.GetSection("ApplicationSettings")["ApplicationName"]?.ToString()
    </title>

    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap/dist/bootstrap.custom.css" rel="stylesheet" />
    <link href="~/css/backend.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/css/validation.css" rel="stylesheet" />
    <link href="~/css/modale.css" rel="stylesheet" />
    <link href="~/css/navmenu.css" rel="stylesheet" />
    <link href="~/css/toastr.css" rel="stylesheet" />
</head>

<body>
    <div class="wrapper blurEffect">
        <nav id="sidebar" class="d-none d-md-block d-lg-block">
            @await Component.InvokeAsync("Menu", new { tipo = "sidemenu" })
        </nav>
        <!-- Page Content -->
        <div id="content" style="margin-top:-30px">
            @await Component.InvokeAsync("Menu", new { tipo = "navmenu" })
            <div id="contentrenderbody" class="ml-1 mt-4 mr-1 pt-2 p-4">
                @RenderBody()

            </div>
        </div>
    </div>
    <footer class="container-fluid blurEffect">
        <div class="row">
            <div class="col-md-4" style="text-align: left;">
                @Configuration.GetSection("ApplicationSettings")["ApplicationName"]?.ToString()
            </div>
            <div class="col-md-4" style="text-align: center;">&nbsp;</div>
            <div class="col-md-4" style="text-align: right;">&copy; Sediin Spa</div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/font-awesome/js/all.js"></script>
    <script src="~/js/utils.js"></script>
    <script src="~/js/sweetalert2.js"></script>
    <script src="~/js/inputs.js"></script>
    <script src="~/js/customvalidator.js"></script>
    <script src="~/js/modale.js"></script>
    <script src="~/js/onesidepage.js"></script>
    <script src="~/js/toastr.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

